In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('food_balance_sheets.csv', encoding= 'unicode_escape')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [33]:
#What are the sum of Animal fat produced in 2014 and 2017 respectively
df.groupby(['Item'] ,as_index=False)['Y2014','Y2017'].agg(['sum'])

C:\Users\USER\AppData\Local\Temp\ipykernel_3644\3423077962.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Item'] ,as_index=False)['Y2014','Y2017'].agg(['sum'])

                         Y2014      Y2017
                           sum        sum
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [34]:
#What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
df['Y2015'].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [15]:
#What is the total number and percentage of missing data in 2016 to 2 decimal places?
df['Y2016'].isnull().sum()

1535

In [36]:
#Which year had the highest correlation with â€˜Element Code
(df['Y2016'].isnull().sum()/df['Y2016'].count())*100

2.583827093994075

In [16]:
df['Element Code'].corr(df['Y2014'])

0.024456819495221795

In [17]:
df['Element Code'].corr(df['Y2015'])

0.02388919930163992

In [18]:
df['Element Code'].corr(df['Y2016'])

0.023443997584961428

In [19]:
df['Element Code'].corr(df['Y2017'])

0.02425400776004572

In [37]:
#What year has the highest sum of Import Quantity?
df.groupby(['Element'] ,as_index=False)['Y2014','Y2015','Y2016','Y2017','Y2018'].agg(['sum'])

C:\Users\USER\AppData\Local\Temp\ipykernel_3644\811874335.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Element'] ,as_index=False)['Y2014','Y2015','Y2016','Y2017','Y2018'].agg(['sum'])

,Y2014,Y2015,Y2016,Y2017,Y2018
,sum,sum,sum,sum,sum
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [38]:
#Whatis the total number of Production in 2014
df.groupby(['Element'] ,as_index=False)['Y2014'].agg(['sum'])

                                               sum
Element
Domestic supply quantity                1996716.35
Export Quantity                          150020.64
Fat supply quantity (g/capita/day)        10225.56
Feed                                     216927.89
Food                                    1212332.49
Food supply (kcal/capita/day)            454257.00
Food supply quantity (kg/capita/yr)       49650.63
Import Quantity                          274144.48
Losses                                   153223.00
Other uses (non-food)                     78718.13
Processing                               282923.00
Production                              1931287.75
Protein supply quantity (g/capita/day)    11836.46
Residuals                                 30149.00
Seed                                      21922.92
Stock Variation                           58749.83
Total Population - Both sexes           1031585.00
Tourist consumption                         416.00

In [42]:
#Which of these elements had the highest sum in 2018?
#Which of these elements had the 3rd lowest sum in 2018?
e18=df.groupby(['Element'] ,as_index=False)['Y2018'].agg(['sum'])
e18.sort_values('sum')

                                               sum
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

In [43]:
#What is the total import Quantity in Algeria in 2018
(df.groupby(['Area','Element'] ,as_index=False)['Y2018'].agg(['sum'])).head(10)

                                                  sum
Area    Element
Algeria Domestic supply quantity             90023.42
        Export Quantity                        811.54
        Fat supply quantity (g/capita/day)     309.09
        Feed                                 10668.00
        Food                                 63736.33
        Food supply (kcal/capita/day)        13288.00
        Food supply quantity (kg/capita/yr)   1509.28
        Import Quantity                      36238.29
        Losses                                7708.00
        Other uses (non-food)                 3970.08

In [20]:
#What is the total number of unique countries in the dataset?
df['Area'].nunique()

49